.subtitulo-pagina{
    font-size: map-get($fuente-tamanio, tamanio-subtitulo );
    text-decoration: underline;
    display: flex;
    justify-content: center;
    /*text-align: center;*/
}

.categorias {
    padding-left: 40px;
}