/*seccion contaco*/

.info-contacto{
    display: flex;
    flex-direction: column;
    ul{
        margin: 30px 0px 30px 40px;
    }
    .main__iframe{
        display: flex;
        flex-direction: column;
        align-items: center;
        iframe{
            height: 450px;
            width: 600px;
            border-style: solid 10px;
            border-color: black;
            border-radius: 10px;
            margin: 30px 0px 30px 0px; 
            box-shadow: 10px 15px 10px gray;
        }
    }
}