/*Seccion header*/

.header {
    background-color: $color-principal;
    height: 350px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
        "imagen titulo carrito"
        "barra-navegacion barra-navegacion barra-navegacion"
    ;
    
    .titulo {
        display: flex;
        justify-content:center;
        align-items: center;
        color:$color-secundario;
        grid-area: titulo;
        .titulo-tamaño{
            font-size: map-get( $fuente-tamanio , tamanio-titulo);
        }
    }

    .imagen{
        display: flex;
        justify-content: flex-start;
        grid-area: imagen;
        img {
            width: 250px;
            height: 250px;
        }
    }

    /*seccion barra navegacion*/
   
    .barra-navegacion {
        grid-area: barra-navegacion;
        width: 100%;
        .barra {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 0px;
            padding-left: 0px;
            li {
                border: solid 2px $color-secundario;
                border-radius: 0px 20px 0px 20px;
                padding: 5px;
                list-style-type: none;
                a {
                    font-size: map-get($fuente-tamanio, tamanio-principal );
                    color: $color-secundario; 
                    text-decoration: none ;
                }
            }
        
        }
    }

    /*seccion carrito*/

    .carrito{
        grid-area: carrito;
        color: $color-secundario;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin-right: 25px;
        .carrito-img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;
            img{
                width: 30px;
                height: 30px;
                margin-right: 12px;
            }
            .button-index {
                @include botones ($color-principal,$color-secundario, $color-secundario);
                transition: background-color 1s;
                &:hover{
                 background-color: white;
                 color: black;
                }
            }
           
        }
        ul{
            .button-index {
                @include botones ($color-principal ,$color-secundario, $color-secundario);
                transition: background-color 1s;
                margin: 10px 0px 0px;
                &:hover{
                 background-color: white;
                 color: black;
                }
            }
        }

        
    }
}

