$fuente-tamanio: (
    tamanio-titulo: 100px,
    tamanio-titulo-rpv: 50px,
    tamanio-subtitulo: 24px,
    tamanio-subtitulo-rpv: 18px,
    tamanio-principal: 16px,
    tamanio-principal-rpv: 13px,
)