/*seccion media*/
@media (min-width: 480px) and (max-width: 768px) {
    .header{
       display: grid;
       grid-template-rows: 2fr 0.5fr;
       grid-template-columns: 0.5fr 1fr 0.5fr;
       grid-template-areas: 
        "imagen titulo carrito"
        "barra-navegacion barra-navegacion barra-navegacion"
       ;
       height: 200px;
        .imagen{
         display: flex;
         align-items: center;
            img{
             width: 150px; height: 150px;
            }
        }
        .titulo {
         .titulo-tamaño{
            font-size: map-get($fuente-tamanio , tamanio-titulo-rpv );
            margin: 0;
        }
        }

        .barra-navegacion {
            grid-area: barra-navegacion;
            .barra {
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 29.5px;
                    a {
                     font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
                     color: $color-secundario; 
                     text-decoration: none ;
                    }
                }
            
            }
        }

        .carrito {
            font-size: map-get($fuente-tamanio , tamanio-principal-rpv );
            list-style-type: none;
            margin-right: 5px;
            .carrito-img{
                .button-index{
                    padding: 1.5px;
                }
            }
            ul{
                padding: 0;
                .button-index{
                    padding: 1.5px;
                }
            }
        }

    }

    .juegos-main{
        .tarjeta {
            width: 250px;
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
            .button-tarjeta{
                font-size: map-get($fuente-tamanio, tamanio-principal-rpv  );
                @include boton-tarjeta ($color-secundario, $color-principal,$color-principal, 1px, 3px, 3px, 1px)
            }
            .titulo-juego{
                font-size: map-get($fuente-tamanio, tamanio-principal );
            }
            img{
                width: 248px;
                height: 249px;
            }
        }
    }

    .categorias{
        margin: 15px 0px 15px 20px;
    }

    .subtitulo-pagina{
        font-size: map-get($fuente-tamanio , tamanio-subtitulo-rpv );
    }
    
    main {
        p { 
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
        }
    }
    
    .footer{
        font-size:map-get($fuente-tamanio, tamanio-principal-rpv );
        .footer-bar{
            padding-left: 0;
            margin-left: 2px;
            .footer-pag {
                list-style-type: none;
                border: solid 2px white;
                border-radius: 0px 20px 0px 20px;
                padding: 3px;
                margin: 3px;
                a {
                    font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
                    margin: 5px 5px 5px 5px;
                }
            }
        }

        .redes {
            .nuestras-redes{
                font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
                font-weight: bold;
                margin: 5px 5px 5px 5px;
            }
            img{
                height: 30px;
                width: 30px
            }
        }
    }

    .info-contacto{
        .main__iframe{
            iframe{
                height: 300px;
                width: 400px;
            }
        }
    }

    .formularios {
        margin-left: 10px;
        .form-nombre {
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
            height: 30px;
            width: 300px;
        
        }
        
        .form-comentarios {
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
            height: 30px;
            width: 450px;
        }
        .btn-form {
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv);
            border: solid 2px $color-principal;
            border-radius: 0px 15px 0px 15px;
            box-shadow: 8px 6px 4px ;
            padding: 1px;
            margin: 10px 20px 0px 0px;
            &:hover{
                background-color: rgb(179, 179, 179);
                color: $color-principal;
            }
        }
    }

    .texto-reclamo{
        margin-top: 0px;
        .opinion{
            font-size: map-get($fuente-tamanio , tamanio-principal-rpv );
            margin-right: 10px;
            margin-bottom: 2px;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }

    .info-contacto{
        ul{
            font-size: map-get($fuente-tamanio, tamanio-principal-rpv );
        }
        .whatsapp {
            img{
                position: fixed;
                top: 35%;
                right: 5%;
                width: 40px;
                height: 40px;
            }
        }
    }
}