@import "variables";
@import "reset";
@import "main-index";
@import "categorias";
@import "contacto";
@import "footer";
@import "header";
@import "reclamos";
@import "media";

.ajuste-pantalla {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;;
    height: 100vh;
}



